
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Display2</title>
</head>
<body>
    <div>
        <h3>List of colors: </h3>
        <ul>
            @foreach (string color in ViewBag.Colors)
            {
                <li>@color</li>
            }
        </ul>
        
    </div>
</body>
</html>
