
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
</head>
<body>
    <div>
        <table border="1" align="center" width="15%">
            <caption>Product Details</caption>

            <tr>
                <td>ID-viewBag</td>
                <td>@ViewBag.Id</td>
            </tr>
            <tr>
                <td>ID-viewData</td>
                <td>@ViewData["Id"]</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@ViewBag.Name</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>
                    @{
                        double price = ViewBag.Price;
                        double finalPrice = price + (price * 0.1);
                        @finalPrice
                    }
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
