@model MVCDataTransfer.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index17</title>
</head>
<body>
    <div> 
        <table border="1" align="center" width="25%">
            <caption>Product Details</caption>
            <tr>
                <td>Id</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>Name</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>Price</td>
                <td>
                    @{ 
                        double? price = Model.Price+ (0.1*Model.Price);
                        @price;
                    } 
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
